.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    outline: 5px solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: rgb(25, 84, 46);
    border: 2px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: rgb(139, 139, 227);
}

.power-pellet {
    background-color: rgb(194, 114, 191);
    border-radius: 10px;
}

.pacman {
    background-color: rgb(200, 200, 19);
    border-radius: 10px;
}

.blinky {
    background-color: rgb(217, 104, 104);
    border: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pinky {
    background-color: rgb(236, 141, 204);
    border: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.inky {
    background-color: rgb(100, 194, 194);
    border: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.clyde {
    background-color: rgb(237, 166, 95);
    border: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.scaredGhost {
    background-color: rgb(30, 195, 140);
    border: 0px;
}

.start {
    font-size: 25px;
    width: 25%;
}